<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <h2 class="footer-heading"><a href="https://stjepang.github.io/">stjepang.github.io</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Stjepan Glavina</li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/stjepang"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">stjepang</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>async-std, Crossbeam, Rust 🦀
</p>
      </div>
    </div>

  </div>

</footer>
