<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <style type="text/css">
      @media screen and (min-width: 800px) {
        .footer-col-2 {
          text-align: center;
        }

        .footer-col-3 {
          text-align: right;
        }
      }
    </style>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
